<!DOCTYPE html>
<html>
<head>
	<title>
		<%= post[:posttitle] %>
	</title>
	<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/bootstrap/3.0.2/css/bootstrap.min.css">
</head>
<body>
	<h2> <%= post[:posttitle] %> </h2>
	<div class="content"> <%= post[:content] %> </div>
</body>
</html>