body
{
    font-size: 16px;
}
h2
{
    font-size: 36px;
}
a
{
    color: black;
}
a:hover
{
    color: blue;
    text-decoration:none;
}
#site-head
{
    background-color: #3771b4;
    height: 200px;
}
#site-title
{
    padding-top: 30px;
    font-size: 60px;
}
#site-subtitle
{
    color: white    ;
    font-size: 24px;
    padding-left: 5px;
}
.post-header
{
    padding-top: 20px;
    padding-bottom: 20px;
}
.post-meta
{
    font-size: 21px;
}
.post-title
{
    font-size: 36px;
}
.post-content
{
    padding-top: 30px;
    padding-bottom: 60px;
}
h1#site-title
{
    color: white;
}
h1#site-title:hover
{
    color: blue;
}
#site-pages
{   padding: 20px;
    text-align: center;
}
footer
{
    text-align: center;
}
.side
{
    padding: 50px;
    font-size: 30px;
}
.links
{
    padding-left: 3px;
}
.link a
{
    font-size: 20px;
    height: 40px;
    padding-top: 5px;
    line-height: 16px;
}
.post-excerpt
{
    color: black;
}
.post-content a
{
    color: #4183c4;
}

